
1. python/.ipynb_checkpoints/Untitled-checkpoint.ipynb
1. python/not_upload/seoul-covid19_6_30_.csv
1. python/.ipynb_checkpoints/210207_inflearn_단 두장의 문서로 데이터 분석과 시각화 뽀개기_2. 코로나발생동향분석-checkpoint.ipynb
1. python/.ipynb_checkpoints/210207_inflearn_단 두장의 문서로 데이터 분석과 시각화 뽀개기_1. 코로나데이터크롤링-checkpoint.ipynb
1. python/not_upload/seoul_covid_19_01_read_html_output.ipynb
1. python/not_upload/seoul_covid_19_02_eda_input.ipynb
1. python/not_upload/seoul_covid_19_02_eda_output.ipynb
1. python/not_upload/.ipynb_checkpoints/seoul_covid_19_01_read_html_output-checkpoint.ipynb
1. python/not_upload/.ipynb_checkpoints/seoul_covid_19_02_eda_input-checkpoint.ipynb
1. python/not_upload/.ipynb_checkpoints/seoul_covid_19_02_eda_input-Copy1-checkpoint.ipynb
1. python/not_upload/.ipynb_checkpoints/seoul_covid_19_02_eda_output-checkpoint.ipynb
1. python/Untitled.ipynb
1. python/.ipynb_checkpoints/210208_ND-파이썬기초-과제2-checkpoint.ipynb
1. python/.ipynb_checkpoints/tips-checkpoint.ipynb
1. python/.ipynb_checkpoints/210213_tips-checkpoint.ipynb
